body {
  font-family: verdana, sans-serif;
}

.header {
  background-color: #004d67;
  color: #eea292;
  font-weight: 700;
  padding: 15px;
  text-align: center;
}

.recipe-list {
  display: inline-block;
  list-style-type: none;
}

.recipe-list-item {
  margin: 5px;
  padding: 5px;
}

.recipe-link {
  color: #291b10;
}

.recipe-link:hover {
  color: #004d67;
}

#chef-logo {
  height: 300px;
  padding: 10px 50px;
  margin: auto;
}
